.footer {
    background: #000;
    color: #fff;
    font-size: 1.5rem;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (max-width: 900px) {
    .footer { 
        font-size: 1rem; 
        padding: 10px 10px; 
    }
}
