* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* предотвращает горизонтальный скролл */
    scroll-behavior: smooth;
}

#root {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.layout {
    flex: 1 1 auto;
    width: 100%;
    min-height: calc(100vh - 60px - 60px);
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
}